#######################################################x#############
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
 
wss.url=https://saas.whitesourcesoftware.com/agent
 
projectPerFolder=false
projectToken=
apiKey=
#userKey=

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false
 
includes=package.json
excludes=**/node_modules/**
 
case.sensitive.glob=false
followSymbolicLinks=true
resolveAllDependencies=false
ignoreSourceFiles=true
 
npm.resolveDependencies=true
npm.ignoreSourceFiles=true
npm.includeDevDependencies=false
npm.runPreStep=false
