#######################################################x#############
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
 
wss.url=https://saas.whitesourcesoftware.com/agent
 
projectPerFolder=false
projectToken=9141e04779de42b4b6330b523fa271bf91656954fbb74b4480bcc5f58fc7c78a
apiKey=6bfb4aa618a34c2e99039db47ae911fb5d107911c869496489375d76d9ac33b1
userKey=51902fad29d24a13843a9bcdeeb1570b63b64b73067247d585e23f1219e8be91

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false
 
includes=requirements.txt
excludes=**/src/**
 
case.sensitive.glob=false
followSymbolicLinks=true
resolveAllDependencies=false
ignoreSourceFiles=true
 
python.resolveDependencies=true
python.ignoreSourceFiles=true
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveHierarchyTree=true
python.resolveSetupPyFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=false
python.IgnorePipenvInstallErrors=false
log.level=debug