#######################################################x#############
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
 
wss.url=https://saas.whitesourcesoftware.com/agent
 
projectPerFolder=false
projectToken=
apiKey=
#userKey=

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false
 
includes=requirements.txt
excludes=**/src/**
 
case.sensitive.glob=false
followSymbolicLinks=true
resolveAllDependencies=false
ignoreSourceFiles=true
 
python.resolveDependencies=true
python.ignoreSourceFiles=true
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveHierarchyTree=true
python.resolveSetupPyFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=false
python.IgnorePipenvInstallErrors=false
log.level=debug
